.catalog {

  &__title {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  &__tabs-wrap {

    background: linear-gradient(to bottom, $gray-medium 80%, $gray-light 80%);
    display: block;
    padding-left: 12px;
    margin-bottom: 30px;
    overflow-x: auto;

    @media (min-width: $screen-sm) {
      margin-bottom: 38px;
      padding-left: 0;
      overflow-x: visible;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 41px;
    }
  }

  &__tabs {
    list-style-type: none;
    min-height: 60px;
    line-height: 60px;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 0;

    @media (min-width: $screen-sm) {
      overflow-x: visible;
      white-space: normal;
      margin: 0 auto;
      width: 750px;
    }

    @media (min-width: $screen-lg) {
      width: 920px;
    }
  }

  &__tab-item {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;


    @media (min-width: $screen-sm) {
      margin-right: 25px;
      margin-left: 25px;
    }
  }

  &__tab-link {
    font-size: $font-medium;
    color: $dark-dark;
    height: 59px;
    display: block;

    @media (min-width: $screen-lg) {

      &:hover {
        color: $link-color;
      }

      &:focus {
        color: $link-color;
        border-bottom: 2px solid $border-color;
      }
    }

    &--active {
      color: $link-color;
      border-bottom: 2px solid #ef529f;
    }
  }



  &__list {

    @media (min-width: $screen-sm) {
      margin-left: -45px;
      margin-right: -45px;
    }

    @media (min-width: $screen-lg) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__list-wrap {
    width: 260px;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      width: 610px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }
}

