.contacts {
  background-color: $gray-light;

  &__inner {
    width: 300px;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__title {
    font-size: $font-maximum;
    font-weight: 700;
    line-height: 70px;
    margin-top: 36px;
    margin-bottom: 46px;


    @media (min-width: $screen-sm) {
      margin-top: 45px;
      margin-bottom: 58px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 74px;
    }
  }


  &__list {
    padding-left: 16px;
    list-style-type: none;
    margin-bottom: 37px;

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }

  &__list-item {
    font-size: $font-medium;
    margin-bottom: 26px;
    position: relative;

    &:after {
      color: $link-color;
      content: '•';
      display: inline-block;
      position: absolute;
      left: -16px;
      top: -6px;
      font-size: $font-larger;
    }

    @media (min-width: $screen-sm) {
      display: inline-block;
      margin-right: 99px;
    }
  }

  &__map {
    width: 100%;

    @media (min-width: $screen-lg) {
      width: 1160px;
      margin: 0 auto;
    }
  }

  &__map iframe {
    width: 100%;
    margin-bottom: 40px;

    @media (min-width: $screen-sm) {
      margin-bottom: 49px;
    }
  }
}

