.field-checkbox {

  order: 3;

  &__label {
    display: block;
    position: relative;
    padding-left: 28px;
    user-select: none;
    cursor: pointer;

    /* stylelint-disable*/

    label.error {
      color: $color-error;
      font-size: $font-small;
      position: absolute;
      left: 0;
      bottom: -30px;
    }

    label.error ~ .checkmark {
      border: 4px solid $color-error;
    }

    /* stylelint-enable*/

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    & input:checked ~ .checkmark {
      background-color: $gray-medium;
      border: 0;
    }

    & input:checked ~ .checkmark:after {
      display: block;
    }

    & .checkmark {
      position: absolute;
      top: 4px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 4px solid $gray-stronger;

      &:hover {
        border: 4px solid $color-hover;
      }

      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 5px;
        top: 2px;
        width: 10px;
        height: 13px;
        border: solid $color-hover;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }

  &__text {
    font-size: $font-small;
    line-height: 24px;
    display: inline-block;

    @media (min-width: $screen-sm) {
      width: 380px;
      display: inline-block;
    }

    & a {
      color: $link-color;

      @media (min-width: $screen-lg) {

        &:hover {
          color: $link-color-hover;
        }

        &:active {
          color: $bg-color;
        }
      }
    }
  }
}
