.latest {
  min-height: 650px;
  padding-left: 30px;
  background-image: linear-gradient($gray-light 35%, #f4d4e4 35%);


  @media (min-width: $screen-sm) {
    padding-left: 0;
  }

  &__inner {
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: 40px;

    @media (min-width: $screen-sm) {
      height: 50px;
      width: 750px;
      margin: 40px auto;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
      margin: 50px auto;
    }
  }

  &__title {
    font-size: $font-large;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 38px;

    @media (min-width: $screen-sm) {
      position: absolute;
      display: inline-block;
      left: 0;
      margin-bottom: 0;
    }
  }

  &__all a {
    color: $link-color;
    font-size: $font-medium;



    @media (min-width: $screen-sm) {
      position: absolute;
      display: inline-block;
      right: 0;
      line-height: 50px;
    }

    @media (min-width: $screen-lg) {

      &:hover {
        color: $link-color-hover;
      }

      &:active {
        color: $bg-color;
      }
    }
  }

  &__list {
    width: 100%;
    min-height: 534px;
    display: flex;
    overflow-x: auto;

    @media (min-width: $screen-lg) {
      margin-left: -20px;
      margin-right: -20px;
    }

    &-wrap {

      @media (min-width: $screen-lg) {
        width: 1160px;
        margin: 0 auto;
      }
    }

    & article {
      width: 220px;
      margin-right: 40px;

      @media (min-width: $screen-sm) {
        width: 260px;
        margin-bottom: 0;
        margin-right: 20px;
        margin-left: 20px;
      }

      @media (min-width: $screen-lg) {

        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }

  &__list::-webkit-scrollbar {
    display: none;
  }
}
