.latest {
  min-height: 650px;
  padding-left: 6.5%;
  background-image: linear-gradient($gray-light 35%, #f4d4e4 35%);

  @media (min-width: $screen-sm) {
    padding-left: 1%;
    padding-right: 1%;
  }

  @media (min-width: $screen-lg) {
    padding-left: 60px;
    padding-right: 60px;
  }

  &__inner {
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: 40px;

    @media (min-width: $screen-sm) {
      margin-bottom: 50px;
      height: 50px;
    }
  }

  &__title {
    font-size: $font-large;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 38px;

    @media (min-width: $screen-sm) {
      position: absolute;
      display: inline-block;
      left: 0;
      margin-bottom: 0;
    }
  }

  &__all a {
    color: $link-color;
    font-size: $font-medium;

    &:hover {
      color: $link-color-hover;
    }

    &:active {
      color: $bg-color;
    }

    @media (min-width: $screen-sm) {
      position: absolute;
      display: inline-block;
      right: 0;
      line-height: 50px;
    }
  }

  &__list {
    min-width: 100%;
    min-height: 534px;
    display: flex;
    overflow-x: auto;

    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 35px;
    }


    & article {
      min-width: 220px;
      margin-right: 40px;

      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }

      @media (min-width: $screen-lg) {
        margin: 0;
      }
    }
  }

  &__list::-webkit-scrollbar {
    display: none;
  }
}
