.library {
  height: 311px;
  width: 100%;
  background-image: url('../../img/library.jpg');
  position: relative;

  &:after {
    background-color: $bg-color-second;
    opacity: 0.8;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__inner {
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    padding-top: 39px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__title {
    color: $light-light;
    font-size: $font-larger;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 23px;
  }

  &__describtion {
    font-size: $font-medium;
    color: $light-light;
    font-weight: 400;
    top: 178px;
    margin-top: 0;
    line-height: 30px;
  }


  @media (min-width: $screen-sm) {

    &__inner {
      padding-top: 65px;
      padding-left: 70px;
      padding-right: 70px;
    }

    &__title {
      font-size: 36px;
      margin-top: 40px;
      margin-bottom: 26px;
    }

    &__describtion p {
      margin: 0;
    }
  }

  @media (min-width: $screen-lg) {

    &__inner {
      padding-top: 70px;
      padding-left: 220px;
      padding-right: 220px;
    }
  }
}
