.page-header {
  background-color: #fff;

  &__inner {
    display: flex;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    min-height: 50px;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      width: 760px;
      justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__cart {
    display: inline-block;
    order: 2;
    margin-left: 100px;


    @media (min-width: $screen-sm) {
      order: 4;
      // position: absolute;
      // right: 6.5%;
      margin-left: 0;
    }

    @media (min-width: $screen-lg) {
      // right: 8%;

      & svg:hover {
        fill: $link-color;
      }
    }
  }

  &__phone {
    display: none;

    @media (min-width: $screen-sm) {
      display: inline-block;
      order: 5;
      flex: 0 0 auto;
      // position: absolute;
      // right: 1%;
    }

    @media (min-width: $screen-lg) {
      // right: 5%;
    }
  }
}

.working-time {
  color: $gray-darker;
  font-size: $font-small;
  display: none;
  line-height: 50px;

  @media (min-width: $screen-sm) {
    display: inline-block;
    order: 2;
    margin-left: 4.7%;
  }

  @media (min-width: $screen-lg) {
    margin-left: 3%;
  }
}

.logo img {
  max-width: 127px;
}
