.page-header {
  background-color: #fff;

  &__inner {
    display: flex;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    min-height: 50px;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      width: 750px;
      justify-content: space-between;
      position: relative;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__cart {
    display: inline-block;
    order: 2;
    margin-left: 100px;


    @media (min-width: $screen-sm) {
      order: 4;
      margin-left: 0;
      position: absolute;
      right: 45px;
      top: 14px;
    }

    @media (min-width: $screen-lg) {
      right: 55px;
      z-index: 999;

      &:hover svg {
        fill: $link-color;
      }
    }
  }

  &__phone {
    display: block;
    margin-left: -24px;

    & span {
      color: $link-color;
      font-size: $font-small;
      font-weight: 700;
      line-height: 30px;
      padding-left: 4px;
    }

    & svg {
      fill: $link-color;
    }

    @media (min-width: $screen-sm) {
      display: inline-block;
      order: 5;
      flex: 0 0 auto;
      margin-left: 54px;

      & span {
        display: none;
      }

      & svg {
        fill: $dark-dark;
      }
    }

    @media (min-width: $screen-lg) {
      margin-left: 100px;

      & svg:hover {
        fill: $link-color;
      }
    }
  }
}
