.product {
  background-color: $gray-light;

  /* stylelint-disable*/
  &__wrap{
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas:
        "title"
        "image"
        "details"
        "describtion";
    grid-gap: 30px;

    @media (min-width: $screen-sm) {
      grid-template-columns: 262px 1fr;
      grid-template-rows: 170px 200px 121px 1fr;
      grid-template-areas:
        "image title"
        "image details"
        "preview details"
        "describtion describtion";
      grid-gap: 22px;

    }

    @media (min-width: $screen-lg) {
      grid-template-columns: 160px 330px 1fr;
      grid-template-rows: 110px 335px 1fr;
      grid-template-areas:
        "preview image title"
        "preview image details"
        ". describtion describtion";
      grid-gap: 43px;
    }
  }

  /* stylelint-enable*/
  &__inner {
    padding-right: 8px;
    padding-left: 8px;

    @media (min-width: $screen-sm) {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 22px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 40px;
      width: 1160px;
      margin: 0 auto;
    }
  }

  &__title-wrap {
    grid-area: title;
    position: relative;
    display: block;
    min-height: 222px;

    @media (min-width: $screen-sm) {
      min-height: 160px;
      padding-left: 18px;
    }

    @media (min-width: $screen-lg) {
      min-height: 105px;
    }
  }

  &__title {
    position: absolute;
    top: 55px;
    font-size: 36px;
    font-weight: 700;
    width: 300px;
    overflow-wrap: break-word;
    margin: 0;

    @media (min-width: $screen-sm) {
      top: 32px;
      width: 100%;
    }

    @media (min-width: $screen-lg) {
      top: 21px;
    }
  }

  &__author {
    position: absolute;
    top: 21px;
    font-size: $font-small;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      top: 0;
      margin: 0;
    }
  }

  &__slogan {
    position: absolute;
    top: 150px;
    font-size: $font-medium;
    line-height: 24px;

    @media (min-width: $screen-sm) {
      top: 100px;
      margin: 0;
      width: 370px;
    }

    @media (min-width: $screen-lg) {
      width: 100%;
      top: 78px;
    }
  }

  &__image-wrap {
    grid-area: image;
  }

  &__image {
    width: 300px;

    @media (min-width: $screen-sm) {
      width: 259px;
    }

    @media (min-width: $screen-lg) {
      width: 320px;
    }
  }

  &__preview {
    width: 77px;

    @media (min-width: $screen-lg) {
      height: 149px;
      width: 120px;
    }
  }

  &__preview-wrap {
    grid-area: preview;
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
      border: 4px solid $gray-medium;
      padding: 4px 6px;
    }

    @media (min-width: $screen-lg) {
      padding: 16px;
    }
  }

  &__preview-link {
    display: inline-block;
    height: 102px;

    @media (min-width: $screen-lg) {
      height: 149px;
     /* stylelint-disable*/
      &:hover {
        background-color: $gray-dark;
        opacity: 0.7;
        cursor:  pointer;
        cursor: url('../../img/cursor_plus.png') 2 2, pointer;
      /* stylelint-enable*/
      }
    }
  }

  &__details-wrap {
    grid-area: details;

    @media (min-width: $screen-sm) {
      padding-left: 18px;
    }
  }

  &__details {
    font-size: $font-small;
    margin-bottom: 28px;

    @media (min-width: $screen-sm) {
      margin-bottom: 60px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 50px;
    }
  }

  &__details-form {

    @media (min-width: $screen-sm) {
      position: relative;
      display: block;
      min-height: 80px;
    }
  }

  &__details-field-text {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      position: absolute;
      display: inline-block;
      height: 50px;
      left: 242px;
    }

    @media (min-width: $screen-lg) {
      left: 282px;
    }

    & input {
      width: 80px;
      height: 50px;
      border-radius: 2px;
      background-color: $gray-stronger;
      border: 0;
      text-align: center;
      font-size: $font-medium;
    }

    & input:hover {
      background-color: $gray-medium;
    }

    & input:focus {
      background-color: $gray-medium;
      border: 2px solid $gray-stronger;
      outline: none;
    }

    & span {
      font-size: $font-medium;
      padding-left: 14px;
    }
  }

  &__details-field-action {

    @media (min-width: $screen-sm) {
      position: absolute;
      display: inline-block;
      height: 50px;
    }

    @media (min-width: $screen-lg) {

      & .btn:hover {
        background-color: $color-hover;
      }

      & .btn:active {
        background-color: $color-pressed;
      }
    }
  }

  &__details-likes {
    font-size: $font-small;
    font-style: italic;
    padding-left: 25px;
    position: relative;
    margin-top: 21px;

    @media (min-width: $screen-sm) {
      margin-top: 0;
    }

    &:before {
      background-image: url('../img/icon_like.png');
      content: '';
      display: block;
      height: 12px;
      width: 16px;
      left: 0;
      position: absolute;
      top: 0;
    }
  }


  &__detail {
    color: $gray-strong;
    font-size: $font-small;
    width: 150px;
    line-height: 30px;

    @media (min-width: $screen-sm) {
      line-height: 38px;
    }
  }

  &__detail-price {
    font-size: $font-medium;
    font-weight: 700;
  }


  &__describtion {
    grid-area: describtion;
  }

  &__describtion-title {
    margin-top: 0;
    font-size: $font-larger;
    font-weight: 700;
    margin-bottom: 22px;

    @media (min-width: $screen-sm) {
      margin-top: 40px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 10px;
    }
  }

  &__describtion-text {
    font-size: $font-medium;
    line-height: 24px;

    @media (min-width: $screen-sm) {
      width: 660px;
    }
  }

  &__describtion-text--hidden {
    font-size: $font-medium;
    line-height: 24px;

    @media (min-width: $screen-sm) {
      width: 660px;
    }
  }


  &__describtion-link {
    font-size: $font-medium;
    color: $link-color;
    border: 0;
    background-color: transparent;
    padding-left: 0;
    padding-right: 23px;
    position: relative;
    margin-bottom: 49px;

    &:before {
      background-image: url('../../img/arrow_down.png');
      content: '';
      display: block;
      height: 8px;
      width: 13px;
      right: 0;
      position: absolute;
      bottom: 5px;
    }
  }

  &__describtion-social {
    padding-bottom: 100px;

    @media (min-width: $screen-sm) {
      margin-top: 50px;
      padding-bottom: 97px;
    }
  }
}

