.recommend {
  background-color: $gray-light;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 50px;


  &__inner {

    @media (min-width: $screen-lg) {
      width: 1200px;
      margin: 0 auto;
      padding: 0;
    }
  }

/* stylelint-disable*/
  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "autumn"
      "blog"
      "kids"
      "feedback"
      "photos"
      "exchange"
      "present";
    grid-row-gap: 15px;
  }
/* stylelint-enable*/

  &__title {
    font-size: $font-larger;
    margin-top: 37px;
    margin-bottom: 20px;
  }

  &__blog {
    grid-area: blog;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: $light-light;
    box-shadow: 0 0 13px 0 $gray-darker;
    border-radius: 5px;
  }

  &__blog-title {
    font-weight: 700;
    font-size: $font-medium;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__blog-describtion {
    font-size: $font-small;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__blog-link {
    color: $link-color;
    font-weight: 700;
    font-size: $font-medium;
    line-height: 25px;

    @media (min-width: $screen-lg) {

      &:hover {
        color: $link-color-hover;
      }

      &:active {
        color: $bg-color;
      }
    }
  }

  &__photos {
    grid-area: photos;
    border-radius: 5px;
    height: 150px;
    background-image: url('../img/bg-photos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-color;
    background-size: 100% auto;
    position: relative;
    padding-top: 45px;

    &:after {
      background-color: $bg-color;
      opacity: 0.58;
      border-radius: 5px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__photos-title {
    position: absolute;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
    width: 100%;
  }

  &__photos-link {
    font-size: $font-medium;
    color: $light-light;
    font-weight: 400;
  }


  &__autumn {
    grid-area: autumn;
    height: 150px;
    border-radius: 5px;
    background-image: url('../img/bg-book.jpg');
    background-color: $bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: relative;

    &:after {
      background: transparent;
      background-image: linear-gradient(to top, rgba(6, 0, 255, 0.3) 0%, rgba(39, 44, 242, 0.8) 100%);
      border-radius: 5px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__autumn-title {
    margin-top: 15px;
    line-height: 30px;
    position: absolute;
    z-index: 2;
    left: 10px;
  }

  &__autumn-link {
    font-size: $font-medium;
    font-weight: 700;
    color: $light-light;
  }

  &__autumn-describtion {
    font-size: $font-small;
    color: $light-light;
    line-height: 30px;
    margin-top: 0;
    position: absolute;
    left: 10px;
    top: 60px;
    z-index: 1;
    width: 250px;
  }

  &__feedback {
    grid-area: feedback;
    background-color: $light-light;
    box-shadow: 0 0 13px 0 $gray-darker;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  &__feedback-title {
    font-weight: 700;
    font-size: $font-medium;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__feedback-describtion {
    font-size: $font-small;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__feedback-link {
    height: 40px;
    width: 100%;
    background-color: $dark-dark;
    border: 0;
    color: $light-light;
    font-size: $font-medium;
    font-weight: 700;

    &:hover {
      background-color: $color-hover;
    }

    &:active {
      background-color: $color-pressed;
    }
  }


  &__kids {
    grid-area: kids;
    min-height: 150px;
    border-radius: 4px;
    background-color: $bg-color-second;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 3px 9px 1px rgba(64, 66, 172, 0.35);
  }

  &__kids-title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__kids-link {
    color: $light-light;
    font-size: $font-medium;
    font-weight: 700;
  }

  &__kids-describtion {
    color: $light-light;
    font-size: $font-small;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
  }

  &__exchange {
    grid-area: exchange;
    min-height: 150px;
    background-image: url('../img/bg-exchange.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: $bg-color-third;
    position: relative;
    border-radius: 4px;

    &:after {
      background-color: $bg-color-third;
      opacity: 0.8;
      border-radius: 5px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__exchange-title {
    z-index: 4;
    position: absolute;
    top: 15px;
    left: 10px;
    margin: 0;
  }

  &__exchange-link {
    font-size: $font-medium;
    color: $light-light;
    font-weight: 700;
  }

  &__exchange-describtion {
    font-size: $font-small;
    color: $light-light;
    font-weight: 400;
    line-height: 25px;
    z-index: 3;
    position: absolute;
    top: 70px;
    left: 10px;
    margin: 0;
  }

  &__present {
    grid-area: present;
    padding-top: 15px;

    article {
      margin-left: 20px;
    }
  }

  &__present-title {
    font-weight: 700;
    font-size: $font-larger;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 20px;
  }

  &__present-describtion {
    font-size: $font-medium;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 28px;
    margin-left: 20px;
  }

  //768 px

  @media (min-width: $screen-sm) {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 100px;

    &__title {
      font-size: $font-largest;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 40px;
    }

/* stylelint-disable*/
    &__wrap {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 170px 230px 230px 230px 170px 170px;
      grid-template-areas:
        "autumn autumn"
        "blog present"
        "kids present"
        "feedback present"
        "photos photos"
        "exchange exchange";
      grid-gap: 11px;
    }
/* stylelint-enable*/

    &__blog {
      padding-top: 35px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__blog-title {
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    &__blog-describtion {
      font-size: $font-medium;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &__blog-link {
      line-height: 30px;
    }


    &__photos {
      height: 170px;
      padding-top: 0;
    }

    &__photos-title {
      line-height: 170px;
    }

    &__photos-link {
      font-size: $font-larger;
    }


    &__autumn {
      height: 170px;
    }

    &__autumn-title {
      margin-top: 40px;
      line-height: 30px;
      margin-bottom: 22px;
      position: absolute;
      left: 40%;
    }

    &__autumn-link {
      font-size: $font-larger;
      font-weight: 400;
    }

    &__autumn-describtion {
      font-size: $font-medium;
      width: 100%;
      line-height: 30px;
      margin-top: 0;
      position: absolute;
      left: 30%;
      top: 85px;
    }

    &__feedback {
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__feedback-title {
      margin-bottom: 15px;
    }

    &__feedback-describtion {
      font-size: $font-medium;
      line-height: 30px;
      margin-bottom: 20px;
    }

    &__feedback-link {
      height: 50px;
    }


    &__kids {
      padding-top: 35px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__kids-title {
      margin-bottom: 20px;
    }

    &__kids-describtion {
      font-size: $font-medium;
      line-height: 30px;
    }


    &__exchange {
      height: 170px;
    }

    &__exchange-title {
      top: 67px;
      left: 33%;
    }

    &__exchange-link {
      font-size: $font-larger;
      font-weight: 400;
    }

    &__exchange-describtion {
      font-size: $font-medium;
      line-height: 30px;
      top: 104px;
      left: 31%;
    }


    &__present {
      grid-area: present;
      padding-top: 30px;
      padding-left: 0;

      article {
        margin-left: 45px;
      }
    }

    &__present-title {
      font-weight: 700;
      font-size: $font-medium;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 8px;
      margin-left: 45px;
    }

    &__present-describtion {
      font-size: $font-medium;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 28px;
      width: 300px;
      margin-left: 45px;
    }
  }

  //1280 px

  @media (min-width: $screen-lg) {
    padding-bottom: 137px;
    padding-left: 0;
    padding-right: 0;

    &__title {
      font-size: $font-maximum;
      line-height: 70px;
      margin-top: 74px;
      margin-left: 22px;
      margin-bottom: 47px;
    }

    /* stylelint-disable*/
    &__wrap {
      grid-template-columns: 300px 285px 285px 285px;
      grid-template-rows: 170px 170px 179px 170px;
      grid-template-areas:
        "blog autumn autumn present"
        "photos autumn autumn present"
        "photos feedback kids present"
        "exchange exchange exchange present";
    }
    /* stylelint-enable*/

    &__blog {
      padding-top: 20px;
      padding-left: 23px;
      padding-right: 23px;
    }

    &__blog-title {
      margin-top: 0;
      margin-bottom: 10px;
    }

    &__blog-describtion {
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 10px;
    }


    &__photos {
      height: 360px;
    }

    &__photos-title {
      top: 125px;
      left: 35px;
      margin: 0;
      width: 230px;
      line-height: 30px;
    }

    &__photos-link {
      font-size: $font-larger;
    }


    &__autumn {
      height: 350px;
    }

    &__autumn-title {
      margin-top: 30px;
      line-height: 30px;
      margin-bottom: 22px;
      left: 35%;
    }

    &__autumn-describtion {
      margin-top: 0;
      left: 19%;
      top: 69px;
    }

    &__feedback {
      padding-top: 20px;
      padding-left: 12px;
      padding-right: 15px;
    }

    &__feedback-title {
      margin-bottom: 8px;
    }

    &__feedback-describtion {
      margin-bottom: 8px;
    }

    &__kids {
      padding-top: 20px;
      padding-left: 17px;
      padding-right: 10px;
    }

    &__kids-title {
      margin-bottom: 15px;
    }


    &__exchange-title {
      top: 67px;
      left: 33%;
    }

    &__exchange-describtion {
      top: 104px;
      left: 31%;
    }

    &__present {
      grid-area: present;
      padding-top: 30px;
      padding-left: 0;
    }

    &__present-title {
      font-weight: 700;
      font-size: $font-medium;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    &__present-describtion {
      font-size: $font-medium;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 28px;
    }
  }
}
