.slider {

  &__item-title {
    width: 281px;
    font-size: $font-small;
    line-height: 24px;
    font-style: italic;
    font-weight: 500;
    margin-top: 37px;
    margin-left: 6.4%;
    margin-bottom: 0;

    @media (min-width: $screen-sm) {
      width: 330px;
      margin-left: 14%;
      margin-top: 37px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 56px;
      margin-left: 12.4%;
    }
  }

  &__item-descr {
    font-size: $font-larger;
    font-weight: 700;
    margin-left: 3.2%;
    margin-bottom: 38px;
    margin-top: 0;
    width: 280px;
    line-height: 30px;

    @media (min-width: $screen-sm) {
      width: 433px;
      font-size: $font-large;
      line-height: 40px;
      margin-bottom: 34px;
    }

    @media (min-width: $screen-lg) {
      width: 514px;
      font-size: $font-largest;
      line-height: 50px;
      margin-left: 6%;
    }
  }

  &__item-card {
    height: 280px;
    border: 8px solid $gray-medium;
    margin-top: 25px;
    padding-top: 46px;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    position: relative;

    @media (min-width: $screen-sm) {
      width: 556px;
      height: 310px;
      margin-left: 14%;
      padding-top: 43px;
    }

    @media (min-width: $screen-lg) {
      width: 499px;
      height: 350px;
      margin-left: 9.3%;
      padding-top: 43px;
      display: inline-block;
    }
  }

  &__item-more {
    color: $link-color;
    font-size: $font-medium;
    margin-left: 3.2%;

    &:hover {
      color: $link-color-hover;
    }

    &:active {
      color: $bg-color;
    }

    @media (min-width: $screen-lg) {
      margin-left: 6%;
    }
  }

  &__item-img,
  .slick-slide img {
    display: none;

    @media (min-width: $screen-lg) {
      width: 302px;
      display: inline-block;
      position: absolute;
      top: 76px;
      margin-left: 169px;
    }
  }

  &__item-img-link {
    display: inline-block;
  }
}


.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $color-normal;
  border: none;
  color: $border-color;
  text-align: center;
  font-size: 20px;
  position: absolute;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: $color-hover;
}

.slick-prev {
  left: 30%;
  bottom: 20px;
  z-index: 2;

  @media (min-width: $screen-sm) {
    bottom: 44%;
    left: 1%;
  }

  @media (min-width: $screen-lg) {
    bottom: 48%;
    left: 4.6%;
  }
}

.slick-prev:before {
  content: '';
  width: 9px;
  height: 16px;
  background-image: url('../img/arrow-left.png');
  left: 13px;
  top: 13px;
  display: block;
  position: absolute;
}

.slick-prev:hover:before {
  content: '';
  width: 9px;
  height: 16px;
  background-image: url('../img/arrow-left-hover.png');
  left: 13px;
  top: 13px;
  display: block;
  position: absolute;
}

.slick-next {
  right: 30%;
  bottom: 20px;

  @media (min-width: $screen-sm) {
    bottom: 42%;
    right: 1%;
  }

  @media (min-width: $screen-lg) {
    bottom: 48%;
    right: 4.6%;
  }
}

.slick-next:before {
  content: '';
  width: 9px;
  height: 16px;
  background-image: url('../img/arrow-right.png');
  right: 13px;
  top: 13px;
  display: block;
  position: absolute;
}

.slick-next:hover:before {
  content: '';
  width: 9px;
  height: 16px;
  background-image: url('../img/arrow-right-hover.png');
  right: 13px;
  top: 13px;
  display: block;
  position: absolute;
}

.slick-disabled {
  background-color: $gray-medium;
}

.slick-disabled:hover {
  background-color: $gray-medium;
}
