.social-counters {

  &__item {
    border: none;
    background-color: transparent;
    margin-right: 8px;

    @media (min-width: $screen-lg) {

      &:hover svg {
        fill: $border-color;
      }

      &:hover .social-counters__icon-num {
        color: $border-color;
      }

      &:active svg {
        fill: $link-color;
      }

      &:active .social-counters__icon-num {
        color: $link-color;
      }
    }
  }

  &__icon-num {
    font-size: $font-medium;
    font-weight: 700;
    padding-left: 8px;
    color: $gray-darkest;
  }
}
