$main-color:          #7dcbcf;
$main-color-dark:     #4aa2a5;
$second-color:        #1f2455;
$second-color-light:  #6a4099;
$warning-color:       #fdc05d;
$link-color:          #1a1ff7;
$link-color-hover:    #6c73ff;
$bg-color:            #0d11c4;
$border-color:        #ef529f;
$bg-color-second:     #ce6194;
$bg-color-third:      #bc0d5f;
$color-normal:        #f4d4e4;
$color-hover:         #d7569c;
$color-pressed:       #d72384;
$color-error:         #d90000;


$light-light:         #fff;
$gray-light:          #f5f5f5;
$gray-medium:         #e8e8e8;
$gray-stronger:       #dddddd;
$gray-strong:         #ababab;
$gray-darker:         #828282;
$gray-darkest:        #3c3c3c;
$gray-dark:           #231f20;
$dark-dark:           #000;

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

$font-smallest:       12px;
$font-small:          14px;
$font-medium:         16px;
$font-larger:         24px;
$font-large:          30px;
$font-bigger:         36px;
$font-largest:        40px;
$font-maximum:        50px;

$line-height:         1.4;

$screen-xs:           360px;
$screen-sm:           768px;
$screen-lg:           1280px;

